body{
    background-color: #12006B;
    overflow-x: hidden;
    max-width: 100%;
}

.navbar-toggler{
    margin-top: 2%;
    border:1px solid white;
    cursor: pointer;
    width: 1.83em;
    height: 1.83em;
    padding: 0 0 0.15em 0.35em ;
}

.navbar-toggler-inner::before,
.navbar-toggler-inner::after,
.navbar-toggler-inner{
    width: 1em;
    height: 0.16em;
    background-color: white;
    position: absolute;
}

.navbar-toggler-inner::before{
    content: "";
    display: block;
    top: -0.3em;
}

.navbar-toggler-inner::after{
    content: "";
    display: block;
    bottom: -0.3em;
}
.garis{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 4%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}
.garis1{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 5%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}
.garis2{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 6%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}
.garis3{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 7%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}

.kakideskripsi{
    display: flex;
    justify-content: space-between;
}
#regis{
    padding: 10px;
    border-radius: 30px;
    background-color: #FF0411 ;
}
.line{
    flex: 2;
    margin-top: 3%;
}
.linekanan{
    flex: 0.1;
    margin-top: 3%;
}
.isilinekanan{
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #12006B 10%, #FF0411);
}

.linenews1{
    width: 80%;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to right,#FF0411 10%, #12006B);
}


.sosmed{
    margin-top: 1%;
    flex: 0.5;
    background-color: #12006B  ;
    display: flex;
}


.line1{
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}

.navbar{
    margin-top: 1%;
}

.nav-item{
    font-weight: 800;
}
.nav-item > a{
    color: white;
    font-size: 25px;
}

.gambar{
    width: 50%;
    height: 30%;
    background-color: #FF0411;
    filter: blur(100px);
    position: absolute;
    top : -20%;
    right: -25%;
    filter: blur(90px);
}
.bawah{
    width: 30%;
    height: 20%;
    background-color: #FF0411;
    position: absolute;
    left: -10%;
    top : 90;
    filter: blur(90px);
}

.buletnews{
    width: 30%;
    height: 20%;
    background-color: #FF0411;
    position: absolute;
    right: -20%;
    top : 1;
    filter: blur(90px);
}


/* Deskripsi*/

.deskripsi{
    min-width: none;
    max-width: 1920px;
    margin: 30px auto;
    padding: 20px;
}
.sidebarsatu{
    flex: 2;
    text-align: center;
}
.sidebarsatu h1{
    color: white;
    font-size: 5em;

}
.sidebarsatu p{
    display: flex;
    color: white;
}
.sidebardua{
    flex: 4;
    margin-right: 5%;
}
.sidebardua img{
    width:100%;
}

.viewicos a{
    font-size: 150%;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #FF0411;;
}

.tombol{
    width: 100%;
    height: 70%;
    background-color: #a099c4ff;
    border-radius: 100%;
    margin-top: 10%;
    overflow: hidden;
    margin-left: 10%;
    text-align: center;
    position: relative;
}

.tombol svg{
    width: 50%;
    height: 50%;
    margin-top: 25%;
}


@media(max-width:986px){
    .deskripsi{
        max-width: 832px;
        min-width: 360p;
    }
    .sidebarsatu{
        padding-top: 0%;
        margin-bottom: 10%;
    }
    .sidebardua img{
        width:90%;
    }
    .tombol{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 3%;
        margin-top: 10%;
        background-color: #a099c4ff;
        border-radius: 100%;
        text-align: center;
        position: relative;
    }
    
    .tombol svg{
        width: 50%;
        height: 50%;
        margin-top: 30%;
    }
    #regis{
        padding: 0px;
        border-radius: 0px;
        color: white;
        background-color: #FF0411 ;
    }
    .nav-item > a{
        color: #12006B;
        font-size: 25px;
        background-color: white;
    }
    .newsicos{
        margin-top: 13%;
    }
    .gambarberita{
        width: 100%;
        margin: 5px auto;
    }
    .isinews{
        text-align: center;
        margin-top: 20px;
    }
    
}


/* Berita Icositer */

.swiper-container {
    width: 80%;
    height: 80%;
    border: 25px double red;
  }

  .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

.gambarberita{
    width: 50%;
    flex: 1; 
}

.isinews{
    margin-right: 5%;
    flex: 1;
}
.isinews h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.isinews p{
    font-size: 20px;
    color: white;
    text-align: justify;
}

.newsicos{
    flex: 1;
    min-width: none;
    max-width: 1920px;
    margin: 15% 3% 4% 3%;
    padding: 20px;
}
.viewnews{
    font-size: 150%;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #FF0411;;
}



@media(min-width:1100px){
    .tombol svg{
        width: 70%;
        height: 50%;
        margin-top: 30%;
    }
    
}


@media(min-width:1300px){
    .tombol svg{
        width: 70%;
        height: 50%;
        margin-top: 30%;
    }

}

@media(min-width:1000px){
    .deskripsi{
        display: flex;
        justify-content: space-between;
    } 
    .sidebarsatu{
        padding-left: 1%;
        padding-right: 5%;
        padding-top: 5%;
        text-align: justify;
    }
    
    .newsicos{
        display: flex;
        justify-content: space-between;
    }
    .tahunlalu{
        display: flex;
        justify-content: center;
    }
}

@media(min-width:1500px){

}
@media(min-width:1900px){
    .sidebarsatu h1{
        color: white;
        font-size: 6em;
    
    }
    .sidebarsatu p{
        font-size: 25px;
        display: flex;
        color: white;
    }
    
}

.tahunlalu{
    text-align: center;
}

.duapuluh{
    width: 25%;
    height: fit-content;
    text-align: center;
    display: block;
}
.duapuluh a img{
    width: 50%;
    background-color: white;
    border: 2px solid red;
}
.des{
    font-size: 30px;
    color: white;
}

.webicostahunlalu{
    margin: 20px auto;
}
.recent{
    padding: 10px 0px 10px 0;
    background-color: red;
}

/*apri */

h1{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

h2{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.xcontainer {
    width: 50%;
    height: 50%;
    border: 10px double red;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    display: block;
  }

  .resent{
      box-align: center;
      text-align: center;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        display: block;
      width: 30%;
      border: 2px green;
      padding: 20px;

    }





    .th-img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px;  /* Rounded border */
        padding: 5px; /* Some padding */
        width: 150px; /* Set a small width */
      }
      
      /* Add a hover effect (blue shadow) */
      .th-img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }



/*shape */

