body{
    background-color: #12006B;
    overflow-x: hidden;
    max-width: 100%;
}


.garis{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 4%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}
.garis1{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 5%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}
.garis2{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 6%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}
.garis3{
    width: 60%;
    height: 3px;
    position: absolute;
    top: 7%;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}

.kakideskripsi{
    display: flex;
    justify-content: space-between;
}
#regis{
    padding: 10px;
    border-radius: 30px;
    background-color: #FF0411 ;
}
.line{
    flex: 2;
    margin-top: 3%;
}
.linekanan{
    flex: 0.1;
    margin-top: 3%;
}
.isilinekanan{
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #12006B 10%, #FF0411);
}
.sosmed{
    margin-top: 1%;
    flex: 0.5;
    background-color: #12006B  ;
    display: flex;
}


.line1{
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background-image: linear-gradient(to right, #FF0411 70%, #12006B);
}

.navbar{
    margin-top: 1%;
}

.nav-item{
    font-weight: 800;
}
.nav-item > a{
    color: white;
    font-size: 25px;
}

.gambar{
    width: 50%;
    height: 30%;
    background-color: #FF0411;
    filter: blur(100px);
    position: absolute;
    top : -20%;
    right: -25%;
    filter: blur(90px);
}
.bawah{
    width: 30%;
    height: 20%;
    background-color: #FF0411;
    position: absolute;
    left: -10%;
    top : 90%;
    filter: blur(90px);
}


.deskripsi{
    min-width: none;
    max-width: 1366px;
    margin: 30px auto;
    padding: 20px;
}
.sidebarsatu{
    flex: 2;
    text-align: center;
}
.sidebarsatu h1{
    color: white;
    font-size: 5em;

}
.sidebarsatu p{
    display: flex;
    color: white;
}
.sidebardua{
    flex: 4;
    margin-right: 5%;
}
.sidebardua img{
    width:100%;
}

.viewicos a{
    font-size: 150%;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #FF0411;;
}

.tombol{
    width: 100%;
    height: 70%;
    background-color: #a099c4ff;
    border-radius: 100%;
    margin-top: 10%;
    overflow: hidden;
    margin-left: 10%;
    text-align: center;
    position: relative;
}

.tombol svg{
    width: 50%;
    height: 50%;
    margin-top: 25%;
}


@media(max-width:832px){
    .deskripsi{
        max-width: 832px;
        min-width: 360p;
    }
    .sidebarsatu{
        padding-top: 0%;
        margin-bottom: 10%;
    }
    .sidebardua img{
        width:90%;
    }
    .tombol{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 3%;
        margin-top: 10%;
        background-color: #a099c4ff;
        border-radius: 100%;
        text-align: center;
        position: relative;
    }
    
    .tombol svg{
        width: 50%;
        height: 50%;
        margin-top: 30%;
    }
    #regis{
        padding: 0px;
        border-radius: 0px;
        color: white;
        background-color: #FF0411 ;
    }
    .nav-item > a{
        color: #12006B;
        font-size: 25px;
        background-color: white;
    }
    
}


/* Berita Icositer */

.gambarberita{
    flex: 1; 
}
.swiper-container {
    width: 30%;
    height: 30%;
    border: 25px double red;
    width: 30%;
    height: 30%;
    padding: 30px;
  }

  .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.swiper-container {
    margin-left: auto;
    margin-right: auto;
  }

.newsicos{
    flex: 1;
    min-width: none;
    max-width: 1366px;
    margin: 30px auto;
    padding: 20px;
}
.


@media(min-width:1100px){
    .tombol svg{
        width: 70%;
        height: 50%;
        margin-top: 30%;
    }
}

@media(min-width:1000px){
    .deskripsi{
        display: flex;
        justify-content: space-between;
    } 
    .sidebarsatu{
        padding-left: 1%;
        padding-right: 5%;
        padding-top: 5%;
        text-align: justify;
    }
}